@font-face {
  font-family: 'myYanone';
  src: url("../fonts/YanoneKaffeesatz-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'myRaleway';
  src: url("../fonts/Raleway-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'myRaleway';
  src: url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'myRaleway';
  src: url("../fonts/Raleway-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    opacity: 0;
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    opacity: 0;
  }
}

@-webkit-keyframes navLinkItemsAnimation {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navLinkItemsAnimation {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: '';
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--elastic .hamburger-inner {
  top: 2px;
  -webkit-transition-duration: 0.275s;
          transition-duration: 0.275s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
          transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic .hamburger-inner::before {
  top: 10px;
  -webkit-transition: opacity 0.125s 0.275s ease;
  transition: opacity 0.125s 0.275s ease;
}

.hamburger--elastic .hamburger-inner::after {
  top: 20px;
  -webkit-transition: -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, 10px, 0) rotate(135deg);
          transform: translate3d(0, 10px, 0) rotate(135deg);
  -webkit-transition-delay: 0.075s;
          transition-delay: 0.075s;
}

.hamburger--elastic.is-active .hamburger-inner::before {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  opacity: 0;
}

.hamburger--elastic.is-active .hamburger-inner::after {
  -webkit-transform: translate3d(0, -20px, 0) rotate(-270deg);
          transform: translate3d(0, -20px, 0) rotate(-270deg);
  -webkit-transition-delay: 0.075s;
          transition-delay: 0.075s;
}

.glide {
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.glide * {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.glide__track {
  overflow: hidden;
}

.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -ms-touch-action: pan-Y;
      touch-action: pan-Y;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  will-change: transform;
}

.glide__slides--dragging {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.glide__slide {
  width: 100%;
  height: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  white-space: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.glide__slide a {
  -webkit-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.glide__arrows {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.glide__bullets {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.glide--rtl {
  direction: rtl;
}

.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  padding: 9px 12px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  -webkit-box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  opacity: 1;
  cursor: pointer;
  -webkit-transition: opacity 150ms ease, border 300ms ease-in-out;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  line-height: 1;
}

.glide__arrow:focus {
  outline: none;
}

.glide__arrow:hover {
  border-color: white;
}

.glide__arrow--left {
  left: 2em;
}

.glide__arrow--right {
  right: 2em;
}

.glide__arrow--disabled {
  opacity: 0.33;
}

.glide__bullets {
  position: absolute;
  z-index: 2;
  bottom: 2em;
  left: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.glide__bullet {
  background-color: rgba(255, 255, 255, 0.5);
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  -webkit-box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  margin: 0 0.25em;
}

.glide__bullet:focus {
  outline: none;
}

.glide__bullet:hover,
.glide__bullet:focus {
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.5);
}

.glide__bullet--active {
  background-color: white;
}

.glide--swipeable {
  cursor: grab;
  cursor: -webkit-grab;
}

.glide--dragging {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #5e5e5e;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  scroll-margin-top: 80px;
  background-color: #f1f1f1;
  font-size: 1.6rem;
  font-family: "myRaleway", sans-serif;
  font-weight: 300;
  color: #5e5e5e;
}

.click-to-call {
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.6em;
  border: 2px solid #1d56a2;
  border-radius: 50%;
  z-index: 1000;
}

.click-to-call-icon {
  width: 40px;
  height: 40px;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.section-title {
  position: relative;
  margin: 0 auto 2em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 2.6rem;
  font-weight: 300;
  text-transform: uppercase;
}

.section-title::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 3px;
  width: 3em;
  background-color: #3d766c;
}

.section-title-span {
  font-weight: bold;
  white-space: nowrap;
}

.hamburger {
  position: fixed;
  top: 1.8rem;
  left: 1.5rem;
  z-index: 1000;
}

.hamburger:focus {
  border: 1px solid #5e5e5e;
  border-radius: 8px;
}

.hamburger .hamburger-inner,
.hamburger .hamburger-inner::before,
.hamburger .hamburger-inner::after {
  background-color: #3d766c;
}

.nav__mobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: translateX(-102%);
          transform: translateX(-102%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f1f1f1;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.28, 0.74, 0.31, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.28, 0.74, 0.31, 1);
  transition: transform 0.5s cubic-bezier(0.28, 0.74, 0.31, 1);
  transition: transform 0.5s cubic-bezier(0.28, 0.74, 0.31, 1), -webkit-transform 0.5s cubic-bezier(0.28, 0.74, 0.31, 1);
  z-index: 500;
}

.nav__active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav__link-items {
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 60%;
}

.nav__link-item {
  margin-bottom: 0.4em;
  padding: 0.5em 1em;
  font-size: 2rem;
  font-weight: normal;
  text-transform: uppercase;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.nav__link-item:hover {
  color: #3d766c;
}

.nav__current-page {
  color: #3d766c;
  font-weight: bold;
}

.nav__links-animation {
  -webkit-animation: navLinkItemsAnimation 0.8s both;
          animation: navLinkItemsAnimation 0.8s both;
}

.nav__desktop {
  display: none;
}

.header {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  height: 100vh;
  overflow: hidden;
}

.header__text-box {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 2em 0;
  height: 100%;
  text-align: center;
}

.header__title {
  margin-bottom: 0.2em;
  font-family: "myYanone", sans-serif;
  font-weight: bold;
  font-size: 4rem;
  text-transform: uppercase;
  color: #5e5e5e;
}

.header__title-span {
  text-transform: none;
}

.header__text {
  color: #5e5e5e;
  font-weight: normal;
}

.header__btn {
  position: relative;
  margin-bottom: 3em;
  padding: 0.5em 1em;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #3d766c;
  text-transform: uppercase;
  color: #f1f1f1;
  -webkit-transition: backgorund-color 0.3s;
  transition: backgorund-color 0.3s;
}

.header__btn:hover {
  background-color: #4e978b;
}

.header__btn::before {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  width: 100%;
  height: 100%;
  border: 1px solid #3d766c;
  border-radius: 4px;
  opacity: 0;
}

.header__btn:hover::before {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
}

.header__img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("/img/header/header-sm.webp");
  background-size: cover;
  background-position: 55% 20%;
}

.header__shadow {
  position: absolute;
  width: 100%;
  height: 101%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(65%, rgba(0, 0, 0, 0.2)), color-stop(98%, #f1f1f1));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 65%, #f1f1f1 98%);
}

.header-subpage {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2em;
  height: 60vh;
  background-size: cover;
  color: #f1f1f1;
  font-weight: normal;
  text-align: center;
}

.header-subpage--xray {
  background-image: url("../img/xray/rtg-zabieg-md.webp");
  background-position: center;
}

.header-subpage--aboutus {
  background-image: url("../img/aboutus/cs-kanczuga-zespol-md.webp");
  background-position: 53% 20%;
}

.header-subpage--services {
  background-image: url("../img/services/uslugi-md.webp");
  background-position: center 20%;
}

.header-subpage__wrapper {
  z-index: 1;
}

.header-subpage__title {
  margin-bottom: 0.2em;
  font-family: "myYanone", sans-serif;
  font-weight: bold;
  font-size: 4rem;
  text-transform: uppercase;
}

.header-subpage__img {
  display: none;
}

.header-subpage__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.services {
  margin-top: 4em;
  padding-top: 2em;
  background-color: #e9e6e6;
}

.services__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 2.5em;
  padding: 0 2em 3em;
  text-align: center;
}

.services__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2.5em 1em 1em;
  border-radius: 4px;
  background-color: #f1f1f1;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.services__icon {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0.5em;
  width: 50px;
  height: 50px;
  border-radius: 40%;
  background-color: #f1f1f1;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.services__img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.services__title {
  margin-bottom: 0.8em;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.services__text {
  margin-bottom: 1em;
}

.services__link {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-weight: bold;
  color: #3d766c;
  text-decoration: underline;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.services__link:hover {
  color: #4e978b;
}

.services__rtg {
  padding-bottom: 1em;
  background-color: #5e5e5e;
}

.services__rtg-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 1em;
}

.services__rtg-box {
  padding: 2em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #f1f1f1;
}

.services__rtg-title {
  margin-bottom: 1em;
  text-transform: uppercase;
}

.services__rtg-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1em;
  padding: 0.5em 1em;
  border-radius: 4px;
  background-color: #e9e6e6;
  color: #4b4b4b;
  font-weight: bold;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.services__rtg-btn:hover {
  background-color: #f1f1f1;
}

.services__rtg-btn::before {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  width: 100%;
  height: 100%;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  opacity: 0;
}

.services__rtg-btn:hover::before {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
}

.services__rtg-icon {
  margin-left: 0.4em;
  width: 1em;
  height: 1em;
}

.services__rtg-img {
  width: 100%;
  height: 95%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
  max-height: 400px;
}

.gallery {
  margin: 2em 0;
  padding: 2em 0;
  background-color: #e9e6e6;
}

.gallery__img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 4px;
}

.gallery .glide__arrows {
  display: none;
}

.services-about {
  padding: 4em 1em 2em;
  background-color: #f1f1f1;
  color: #4b4b4b;
}

.services-about__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 3em;
}

.services-about__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 1em;
  padding: 2em 1em 1em;
  border-radius: 4px;
  background-color: #e9e6e6;
}

.services-about__title {
  position: relative;
  margin-bottom: 1em;
  text-transform: uppercase;
  text-align: center;
}

.services-about__title::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  width: 40%;
  background-color: #3d766c;
}

.services-about__text {
  margin-bottom: 0.8em;
}

.services-about__list {
  list-style-position: inside;
}

.services-about__list-item {
  margin-bottom: 0.6em;
}

.services-about__img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.aboutus {
  padding: 4em 1em 2em;
  background-color: #5e5e5e;
  color: #f1f1f1;
}

.aboutus__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 3em;
}

.aboutus__card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 1em;
}

.aboutus__name {
  margin-bottom: 0.5em;
  text-transform: uppercase;
  text-align: center;
}

.aboutus__img {
  width: 100%;
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.xray-lab {
  padding: 4em 1em 2em;
  background-color: #e9e6e6;
}

.xray-lab__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 2em;
}

.xray-lab__text-box {
  position: relative;
  padding: 0 1em;
  color: #4b4b4b;
  text-align: left;
}

.xray-lab__text {
  margin-bottom: 1em;
}

.xray-lab__img {
  width: 100%;
  height: 95%;
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.contact {
  padding: 3em 0;
  background-color: #f1f1f1;
}

.contact__boxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 3em;
  padding: 0 1em;
}

.contact__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1em;
  padding: 4em 1em 1em;
  border-radius: 4px;
  background-color: #e9e6e6;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.contact__img {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  padding: 0.5em;
  border-radius: 40%;
  background-color: #e9e6e6;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.contact__title {
  margin-bottom: 0.6em;
  font-weight: 300;
  text-transform: uppercase;
}

.contact__text {
  margin-bottom: 0.4em;
}

.contact__text-span {
  font-weight: bold;
}

.contact__text--phone {
  margin-bottom: 0.8em;
  font-size: 2rem;
  font-weight: bold;
  color: #3d766c;
}

.contact__facebook-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.4em 1em;
  border: 2px solid #3b5998;
  border-radius: 4px;
  font-size: 1.6rem;
  font-weight: bold;
  color: #3b5998;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}

.contact__facebook-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #3b5998;
  border-radius: 4px;
  opacity: 0;
}

.contact__facebook-link:hover::before {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
}

.contact__facebook-link:hover {
  background-color: #3b5998;
  color: #fff;
}

.contact__facebook-icon {
  margin-right: 0.4em;
  padding: 0.2em;
  width: 40px;
  height: 40px;
  border-radius: 40%;
  background-color: #e9e6e6;
}

.contact__map {
  margin-top: 1em;
  width: 100%;
  min-height: 200px;
}

.contact__map iframe {
  width: 100%;
  height: 100%;
}

.footer {
  padding: 1.2em 0;
  background-color: #5e5e5e;
  font-size: 2rem;
  text-align: center;
  color: #f1f1f1;
}

.helper {
  height: 100vh;
  background-color: #e9e6e6;
  color: #f1f1f1;
}

@media (min-width: 375px) {
  .header__title {
    font-size: 5rem;
  }
  .header__text {
    font-size: 2rem;
  }
  .contact__facebook-link {
    font-size: 1.8rem;
  }
  .contact__facebook-icon {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 576px) {
  .nav__link-item {
    font-size: 2.4rem;
  }
  .header__text-box {
    padding: 0 2.6em;
  }
  .header__title {
    font-size: 6rem;
  }
  .header__text {
    font-size: 2.2rem;
  }
  .header__btn {
    padding: 0.5em 2em;
  }
  .header-subpage {
    padding: 0 3em;
  }
  .header-subpage__title {
    font-size: 5rem;
  }
  .header-subpage__text {
    font-size: 1.8rem;
  }
  .services__items {
    -ms-grid-columns: 1fr 4fr;
        grid-template-columns: 1fr 4fr;
    row-gap: 3em;
  }
  .services__item {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    padding: 2.5em 2em 1em;
  }
  .services__icon {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .services__img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .gallery {
    margin: 4em 0 1em;
  }
  .services-about {
    padding: 4em 2em 3em;
  }
  .services-about__item {
    gap: 2em;
    padding: 2em 2em 1em;
  }
  .services-about__text, .services-about__list {
    font-size: 1.8rem;
  }
  .aboutus {
    padding: 4em 2em 3em;
  }
  .aboutus__name {
    font-size: 2.4rem;
  }
  .aboutus__text {
    font-size: 1.8rem;
  }
  .xray-lab {
    padding: 4em 2em 3em;
  }
  .xray-lab__wrapper {
    -ms-grid-columns: 1fr 6fr 1fr;
        grid-template-columns: 1fr 6fr 1fr;
  }
  .xray-lab__text-box {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    font-size: 1.8rem;
  }
  .xray-lab__img {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0;
  }
  .contact__boxes {
    padding: 0 2em;
  }
}

@media (min-width: 768px) {
  .section-title {
    font-size: 2.8rem;
  }
  .nav__link-home {
    padding: 0.5em 0.5em;
  }
  .nav__link-item {
    font-size: 2.8rem;
  }
  .header__title {
    font-size: 8rem;
  }
  .header__text {
    font-size: 2.6rem;
  }
  .header__btn {
    font-size: 2rem;
  }
  .header__img {
    background-image: url("/img/header/header-md.webp");
  }
  .header-subpage {
    padding: 0 4em;
  }
  .header-subpage__title {
    font-size: 6rem;
  }
  .header-subpage__text {
    font-size: 2rem;
  }
  .gallery {
    padding: 3em 0;
  }
  .services__items {
    -ms-grid-columns: 2fr 3fr;
        grid-template-columns: 2fr 3fr;
    padding: 0 3em 3em;
  }
  .services__rtg {
    padding: 1em;
  }
  .services__rtg-wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 2em;
  }
  .services__rtg-box {
    padding: 2em 2em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services__rtg-img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border-radius: 4px;
  }
  .services-about {
    padding: 5em 3em 4em;
  }
  .services-about__items {
    gap: 5em;
  }
  .services-about__item {
    padding: 3em 3em 2em;
  }
  .services-about__title {
    font-size: 2.8rem;
  }
  .aboutus {
    padding: 5em 3em 4em;
  }
  .aboutus__cards {
    gap: 4em;
  }
  .xray-lab {
    padding: 5em 3em 4em;
  }
  .xray-lab__wrapper {
    -ms-grid-columns: 1fr 3fr 1fr;
        grid-template-columns: 1fr 3fr 1fr;
  }
  .contact__boxes {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .contact__box {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .contact__box--localization {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .contact__title {
    margin-bottom: 0.6em;
    font-size: 2.2rem;
  }
  .contact__text {
    font-size: 1.8rem;
  }
  .contact__text--phone {
    font-size: 2.4rem;
  }
  .contact__facebook-link {
    font-size: 2rem;
  }
  .contact__map {
    margin-top: 2em;
    height: 100%;
  }
}

@media (min-width: 768px) and (max-width: 992px) and (max-height: 450px) {
  .header__title {
    font-size: 5rem;
  }
  .header__text {
    font-size: 2rem;
  }
}

@media (max-width: 992px) and (orientation: landscape) {
  .header__btn {
    display: none;
  }
}

@media (min-width: 992px) {
  .click-to-call {
    display: none;
  }
  .hamburger {
    display: none;
  }
  .section-title {
    font-size: 3rem;
  }
  .nav__mobile {
    display: none;
  }
  .nav__desktop {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #c7c4c4;
    background-color: #e9e6e6;
    z-index: 100;
  }
  .nav__desktop-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px;
  }
  .nav__link-item {
    position: relative;
    margin: 0.5em;
    padding: 0.4em 0.8em;
    font-size: 2rem;
  }
  .nav__link-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #3d766c;
    border-radius: 4px;
    opacity: 0;
  }
  .nav__link-item:hover::before {
    -webkit-animation: pulse 1s;
            animation: pulse 1s;
  }
  .header {
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
    -ms-grid-rows: 80px 1fr 1fr;
        grid-template-rows: 80px 1fr 1fr;
  }
  .header__text-box {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 15vh 2em;
  }
  .header__title {
    font-size: 6rem;
  }
  .header__text {
    font-size: 2.2rem;
  }
  .header__btn {
    margin: 3em 0;
  }
  .header__img {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
    position: relative;
    background-image: url("/img/header/header-lg.webp");
    background-position: 55% 20%;
  }
  .header__shadow {
    left: -1px;
    right: 0;
    height: 100%;
    width: auto;
    background-image: -webkit-gradient(linear, right top, left top, color-stop(65%, rgba(0, 0, 0, 0.2)), color-stop(99%, #f1f1f1));
    background-image: linear-gradient(-90deg, rgba(0, 0, 0, 0.2) 65%, #f1f1f1 99%);
  }
  .header-subpage {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 80px 1fr;
        grid-template-rows: 80px 1fr;
    padding: 0;
    background-image: none;
    overflow: hidden;
  }
  .header-subpage__wrapper {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 30px 1fr 1fr;
        grid-template-rows: 30px 1fr 1fr;
    -webkit-column-gap: 3em;
            column-gap: 3em;
    padding: 0 3em 1em;
    max-height: calc(60vh - 80px);
  }
  .header-subpage__title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    margin-bottom: 1em;
  }
  .header-subpage__title--aboutus {
    color: #4b4b4b;
  }
  .header-subpage__text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-top: 2em;
    color: #5e5e5e;
  }
  .header-subpage__img {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center 20%;
       object-position: center 20%;
    overflow: hidden;
  }
  .header-subpage__shadow {
    height: 60%;
  }
  .header-subpage__shadow--xray {
    background-color: #5e5e5e;
  }
  .header-subpage__shadow--aboutus {
    background-color: #e9e6e6;
  }
  .services {
    margin-top: 0;
    padding-top: 6em;
    scroll-margin-top: 80px;
  }
  .services__items {
    -ms-grid-columns: 0.2fr 1fr 100px 1fr 0.2fr;
        grid-template-columns: 0.2fr 1fr 100px 1fr 0.2fr;
    -ms-grid-rows: (1fr)[9];
        grid-template-rows: repeat(9, 1fr);
  }
  .services__item {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }
  .services__item:nth-of-type(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .services__item:nth-of-type(2) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .services__item:nth-of-type(3) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .services__item:nth-of-type(4) {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .services__item:nth-of-type(5) {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  .services__item:nth-of-type(6) {
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
  }
  .services__item:nth-of-type(7) {
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
  }
  .services__item:nth-of-type(8) {
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    grid-row: 8/9;
  }
  .services__item:nth-of-type(9) {
    -ms-grid-row: 9;
    -ms-grid-row-span: 1;
    grid-row: 9/10;
  }
  .services__item--right {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
  }
  .services__img {
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-column: 3/6;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .services__img:nth-of-type(2) {
    -ms-grid-row: 4;
    -ms-grid-row-span: 3;
    grid-row: 4/7;
  }
  .services__img:nth-of-type(3) {
    -ms-grid-row: 7;
    -ms-grid-row-span: 3;
    grid-row: 7/10;
  }
  .services__img--left {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .services__text, .services__link {
    font-size: 1.8rem;
  }
  .services__rtg-title {
    font-size: 2.4rem;
  }
  .services__rtg-text {
    font-size: 1.8rem;
  }
  .services__rtg-btn {
    margin-top: 2.5em;
    width: 80%;
    font-size: 1.8rem;
  }
  .gallery {
    margin: 5em 0;
  }
  .gallery .glide__arrows {
    display: block;
  }
  .gallery .glide__arrow {
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
  }
  .gallery .glide__arrow img {
    width: 40px;
    height: 40px;
  }
  .services-about {
    padding: 6em 3em 5em;
  }
  .services-about__item {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 3em;
    padding: 3em;
    scroll-margin-top: 80px;
  }
  .services-about__text-box {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .services-about__title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .services-about__title::before {
    width: 30%;
  }
  .services-about__text {
    font-size: 2rem;
  }
  .services-about__img {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }
  .aboutus {
    margin-top: 6em;
    padding: 6em 3em 5em;
  }
  .aboutus__cards {
    gap: 4em;
  }
  .aboutus__card {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2em;
  }
  .aboutus__text-box--even {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .aboutus__img--even {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .xray-lab {
    margin-top: 6em;
    padding: 6em 4em 5em;
  }
  .xray-lab__wrapper {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3em;
  }
  .xray-lab__text-box {
    font-size: 2rem;
  }
  .contact {
    scroll-margin-top: 80px;
  }
}

@media (min-width: 1200px) {
  .services-about__item {
    -webkit-column-gap: 4em;
            column-gap: 4em;
    padding: 4em;
  }
  .services-about__title::before {
    width: 20%;
  }
}

@media (min-width: 1400px) {
  .header {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
  .header__text-box {
    padding: 20vh 2em;
  }
  .header__title {
    font-size: 8rem;
  }
  .header__text {
    font-size: 2.8rem;
  }
  .header-subpage__title {
    font-size: 8rem;
  }
  .header-subpage__text {
    font-size: 2.2rem;
  }
  .xray-lab {
    padding: 6em 4em 6em;
  }
  .xray-lab__wrapper {
    -ms-grid-columns: 1fr 2fr 2fr;
        grid-template-columns: 1fr 2fr 2fr;
  }
  .aboutus__cards {
    gap: 5em;
  }
  .aboutus__card {
    gap: 3em;
  }
  .aboutus__name {
    font-size: 2.6rem;
  }
  .aboutus__text {
    font-size: 2rem;
  }
}

@media (min-width: 1500px) {
  .gallery .glide__arrow--left {
    left: -2.5em;
  }
  .gallery .glide__arrow--right {
    right: -2.5em;
  }
}
/*# sourceMappingURL=style.css.map */