$primary: rgb(61, 118, 108);
$primary-lighter: rgb(78, 151, 139);
$complementary: rgb(118, 61, 70);
$dark: rgb(94, 94, 94);
$darker: rgb(75, 75, 75);
$pure-dark: rgb(0, 0, 0);
$light: #f1f1f1;
$light-darker: #e9e6e6;
$pure-white: #fff;
$call-color: #1d56a2;
$facebook-color: #3b5998;
$primary-secondary-gradient: linear-gradient(45deg, rgba(61, 118, 108, 1) 0%, rgba(78, 151, 139, 1) 57%);
$primary-gradient: linear-gradient(130deg, rgba(61, 118, 108, 1) 0%, rgba(46, 196, 172, 1) 80%);
