@media (min-width: 992px) {
	.hamburger {
		display: none;
	}

	.section-title {
		font-size: 3rem;
	}

	.nav {
		&__mobile {
			display: none;
		}

		&__desktop {
			display: block;
			position: fixed;
			width: 100%;
			height: 80px;
			border-bottom: 1px solid #c7c4c4;
			background-color: $light-darker;
			z-index: 100;
		}

		&__desktop-box {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			height: 80px;
		}

		&__link-item {
			position: relative;
			margin: 0.5em;
			padding: 0.4em 0.8em;
			font-size: 2rem;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border: 1px solid $primary;
				border-radius: 4px;
				opacity: 0;
			}

			&:hover::before {
				animation: pulse 1s;
			}
		}
	}

	.header {
		grid-template-columns: 1fr 3fr;
		grid-template-rows: 80px 1fr 1fr;

		&__text-box {
			grid-column: 1/2;
			grid-row: 2/4;
			justify-content: flex-start;
			padding: 15vh 2em;
		}

		&__title {
			font-size: 6rem;
		}

		&__text {
			font-size: 2.2rem;
		}

		&__btn {
			margin: 3em 0;
		}

		&__img {
			grid-column: 2/3;
			grid-row: 2/4;
			position: relative;
			background-position: 55% 20%;
		}

		&__shadow {
			left: -1px;
			right: 0;
			height: 100%;
			width: auto;
			background-image: linear-gradient(-90deg, rgba(0, 0, 0, 0.2) 65%, rgba(241, 241, 241, 1) 99%);
		}

		// &__icon-box {
		// 	width: 50%;
		// 	height: 100%;
		// }

		// &__icon-one {
		// 	top: 8em;
		// 	left: 60%;
		// 	width: 20%;
		// }

		// &__icon-two {
		// 	right: 70%;
		// }

		// &__arrow {
		// 	display: block;
		// 	position: absolute;
		// 	left: 50%;
		// 	bottom: 4em;
		// 	transform: translateX(-50%);
		// 	width: 80px;
		// 	height: 80px;
		// 	z-index: 5;
		// }
	}

	.services {
		scroll-margin-top: 80px;

		&__items {
			grid-template-columns: 0.2fr 1fr 100px 1fr 0.2fr;
			grid-template-rows: repeat(6, 1fr);
		}

		&__item {
			grid-column: 2/4;

			&:nth-of-type(1) {
				grid-row: 1/2;
			}

			&:nth-of-type(2) {
				grid-row: 2/3;
			}

			&:nth-of-type(3) {
				grid-row: 3/4;
			}

			&--right {
				grid-column: 3/5;

				&:nth-of-type(4) {
					grid-row: 4/5;
				}

				&:nth-of-type(5) {
					grid-row: 5/6;
				}

				&:nth-of-type(6) {
					grid-row: 6/7;
				}
			}
		}

		&__img {
			grid-column: 3/6;
			grid-row: 1/4;
			align-self: center;
			height: 100%;

			&--left {
				grid-column: 1/4;
				grid-row: 4/8;
			}
		}

		&__rtg {
			&-title {
				font-size: 2.4rem;
			}

			&-text {
				font-size: 1.8rem;
			}

			&-btn {
				margin-top: 2.5em;
				width: 80%;
				font-size: 1.8rem;
			}
		}
	}

	.gallery {
		margin: 5em 0;

		&-wrapper {
			position: relative;
		}
		&__next,
		&__prev {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			padding: 0.1em 0.2em;
			border: none;
			background: none;
			font-size: 5rem;
			color: $darker;
			cursor: pointer;
			z-index: 10;
		}

		&__next {
			right: 0.5em;
		}

		&__prev {
			left: 0.5em;
		}
	}

	.contact {
		scroll-margin-top: 80px;
	}
}

@media (min-width: 1400px) {
	.header {
		grid-template-columns: 1fr 2fr;

		&__text-box {
			padding: 20vh 2em;
		}

		&__title {
			font-size: 8rem;
		}

		&__text {
			font-size: 2.8rem;
		}
	}
}

@media (min-width: 1500px) {
	.gallery {
		&__next {
			right: -1em;
		}

		&__prev {
			left: -1em;
		}
	}
}
