@media (min-width: 375px) {
	.header {
		&__title {
			font-size: 5rem;
		}

		&__text {
			font-size: 2rem;
		}
	}
}

@media (min-width: 568px) {
	.header {
		&__text-box {
			padding: 0 2.6em;
		}
	}

	.services {
		&__items {
			grid-template-columns: 1fr 4fr;
			gap: 3em;
		}

		&__item {
			grid-column: 2/3;
		}

		&__img {
			grid-column: 1/3;
		}
	}
}
