@media (min-width: 375px) {
	.header {
		&__title {
			font-size: 5rem;
		}

		&__text {
			font-size: 2rem;
		}
	}

	.contact {
		&__facebook {
			&-link {
				font-size: 1.8rem;
			}

			&-icon {
				width: 50px;
				height: 50px;
			}
		}
	}
}

@media (min-width: 576px) {
	.nav {
		&__link-item {
			font-size: 2.4rem;
		}
	}

	.header {
		&__text-box {
			padding: 0 2.6em;
		}

		&__title {
			font-size: 6rem;
		}

		&__text {
			font-size: 2.2rem;
		}

		&__btn {
			padding: 0.5em 2em;
		}
	}

	.header-subpage {
		padding: 0 3em;
		&__title {
			font-size: 5rem;
		}

		&__text {
			font-size: 1.8rem;
		}
	}

	.services {
		&__items {
			grid-template-columns: 1fr 4fr;
			row-gap: 3em;
		}

		&__item {
			grid-column: 2/3;
			padding: 2.5em 2em 1em;
		}

		&__icon {
			transform: translate(-50%, -50%);
		}

		&__img {
			grid-column: 1/3;
		}
	}

	.gallery {
		margin: 4em 0 1em;
	}

	.services-about {
		padding: 4em 2em 3em;

		&__item {
			gap: 2em;
			padding: 2em 2em 1em;
		}

		&__text,
		&__list {
			font-size: 1.8rem;
		}
	}

	.aboutus {
		padding: 4em 2em 3em;

		&__name {
			font-size: 2.4rem;
		}

		&__text {
			font-size: 1.8rem;
		}
	}

	.xray-lab {
		padding: 4em 2em 3em;

		&__wrapper {
			grid-template-columns: 1fr 6fr 1fr;
		}

		&__text-box {
			grid-column: 1/3;
			font-size: 1.8rem;
		}

		&__img {
			grid-column: 2/4;
			align-self: center;
			margin: 0;
		}
	}

	.contact {
		&__boxes {
			padding: 0 2em;
		}
	}
}
